#countrycontainer {
    width: 50%;
    margin-top: 20px;
    display:inline-block;
    margin-left: 50px;
    background: white;
    box-shadow: 0 6px 15px rgba(36,37,38,0.08);
    border-radius: 16px;
    text-align: center;
    border-bottom: 4px solid rgb(242,242,242);
}

.textcountry {
    margin: 10px !important;
    display: inline;
    text-align: center;
}

.countryTitle{
    text-align: center;
}