#countrycontainer {
    width: 50%;
    margin-left: 50px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}

.textcountry {
    margin: 10px !important;
    display: inline;
    text-align: center;
}

.countryTitle{
    text-align: center;
}