.App {
  text-align: center;
}

#supercontainer {
  position: relative;
}

#toprow {
  background-color: rgb(70,69,94);
  border-bottom: rgb(104,110,113) solid 1px;
  width: 100%;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 0 5px rgba(70, 69, 94, 0.4), 0 10px rgba(70, 69, 94, 0.3),
              0 15px rgba(70, 69, 94, 0.2), 0 20px rgba(70, 69, 94, 0.1),
              0 25px rgba(70, 69, 94, 0.05),
              -5px 5px 40px rgba(100, 0, 0, 0.4);

}

.select {
  flex: 1 0 0%; /* explanation below */
  margin: 5px;
}

.name {
  color: rgb(87,208,182);
  display: inline;
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.name:hover {
  transform: scale(1.1);
}

Select {
  display: inline-block;
  width: 100%;
}

#chartinfo {
  margin-top: 20px;
  display:inline-block;
  width: 42%;
  margin-left: 30px;
  background: white;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
  border-radius: 16px;
  text-align: center;
  border-bottom: 4px solid rgb(242,242,242);
}

.chartinfotext {
  margin: 10px !important;
  display: inline;
  text-align: center;
}

.chartinfoTitle{
  text-align: center;
}